.no-stroke {
  stroke : 0;
}

.stroke-2 {
  stroke : black;
  stroke-width : 2;
}

.stroke-3 {
  stroke : black;
  stroke-width : 3;
}

.stroke-5 {
  stroke : black;
  stroke-width : 5;
}

.stroke-8 {
  stroke : black;
  stroke-width : 8;
}

.yellow {
  fill : #ffff00;
}

.gold {
  fill : #ff9900;
}

.light-grey {
  fill : #c0c0c0;
}

.dark-grey {
  fill : #808080;
}

.white {
  fill : #ffffff;
}

.transparent {
  fill : transparent;
}

.light-blue {
  fill : #99CCFF;
}

.red {
  fill : #FF0000;
}

.orange {
  fill : #FF6600;
}

.white {
  fill : white;
}

.blue {
  fill : blue;
}
